* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: #FCFCFD;
}

/* COMMON STYLES STARTS*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #23262F;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #777E91;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0%;
}

.section-heading h2 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 12px;
}

.section-heading p {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #777E91;
    width: fit-content;
}

a:hover {
    color: #23262F;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.p-20px {
    padding: 20px;
}

.travia-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FCFCFD;
    background: #3B71FE;
    border-radius: 90px;
    padding: 16px 24px;
    transition: .3s;
}

.travia-btn:hover {
    color: #FCFCFD;
    background: #0044ee;
}

.nice-select .list {
    box-shadow: 0px 3px 10px 0px rgb(68 68 68 / 11%);
}

div.nice-select {
    display: flex;
    align-items: center;
}

/* COMMON STYLES ENDS*/

/* NAV STARTS */
nav .container {
    padding-left: 80px;
    padding-right: 80px;
}

nav .nav-item {
    margin-right: 40px;
    font-size: 14px;
}

nav .nav-item+.nav-item {
    margin-right: 22px;
}

.nav-item span img {
    width: 14px;
    margin-right: 12px;
}

.nav-link {
    padding: 0 !important;
    color: #777E91;
    font-weight: 700;
    transition: .5s;
}

.nav-link.active {
    color: #777E91 !important;
}

.nav-link svg {
    margin-right: 12px;

}

svg path {
    transition: .5s;
}

.nav-link:hover {
    color: #23262F !important;
}

.nav-link:hover svg path,
.notification-btn:hover svg path {
    fill: #23262F;
}

.language-btn .nice-select {
    color: #777E91;
}

.language-btn .nice-select:after {
    display: none;
}

.language-btn .nice-select svg {
    margin-right: 12px;
}

nav .notification-btn {
    padding: 8px 10px;
}

nav .notification-btn span {
    height: 12px;
    width: 12px;
    background: #58C27D;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown .btn:first-child,
.dropdown .btn:first-child:active,
.dropdown .btn.show {
    border: none;
    outline: none;
}

.dropdown-menu {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0px rgb(68 68 68 / 11%);
    margin-top: 4px;
    padding: 0;
    left: 50% !important;
    transform: translateX(-50%);
}

.dropdown-item {
    color: #777E91;
    padding: 10px 15px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #777E91;
    background-color: #f6f6f6;
}


/* NAV ENDS */


/* HERO SECTION STARTS */
.hero-section img {
    z-index: -1;
}

.hero-section {
    background: linear-gradient(92.61deg, rgba(236, 248, 252, 0.84) 13.1%, rgba(236, 248, 252, 0) 96.07%), url("../images/hero-bg.png");
    background-size: cover;
    height: 720px;
    background-repeat: no-repeat;
    margin-top: 90px;
}

.hero-section h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #23262F;
}

.hero-section p {
    font-size: 18px;
    line-height: 1.5rem;
}

.hero-text {
    top: 115px;
    left: 80px;
}

/* HERO SECTION ENDS */

/* FLIGHT SECTION STARTS*/

.flight-booking {
    width: 100%;
    margin-top: -220px;
    padding: 40px;
    background: linear-gradient(83.59deg, #FCFCFD 36.52%, rgba(252, 252, 253, 0.83) 98.8%);
    /* Neutrals/8 */

    border: 1px solid #FCFCFD;
    /* glass/01 */

    box-shadow: 0px 40px 64px -32px rgba(15, 15, 15, 0.1);
    backdrop-filter: blur(16px);
}

/* ////////// */
.flight-section .nav-link {
    border: none;
    margin-right: 48px;
}

.flight-section .nav-link {
    font-size: 14px;
    line-height: 16px;
    background: transparent;
    border-bottom: 2px solid transparent;
    padding-bottom: 30px !important;

}

.flight-section .nav-link:hover,
.flight-section .nav-link.active,
.flight-section .nav-link:focus {
    background: transparent;
    color: #23262F !important;
    border-bottom: 2px solid #23262F;
}

.flight-section .nav-tabs {
    border-bottom: 1px solid #E6E8EC;
}

.flight-section .tab-pane {
    padding-top: 30px;
}

.flight-section .option-buttons {
    margin-bottom: 16px;
}


/* ////////// */
/* Tabs */



.tab-pane .btn {

    border: 2px solid #E6E8EC;
    border-radius: 50rem;

    --bs-btn-color: #23262F;
    --bs-btn-border-color: #E6E8EC;
    --bs-btn-hover-color: #23262F;
    --bs-btn-hover-bg: #E6E8EC;
    --bs-btn-active-color: #23262F;
    --bs-btn-active-bg: #E6E8EC;
    --bs-btn-active-border-color: #E6E8EC;
}

.tab-pane .btn:hover {
    background: #E6E8EC;
}


.flight-section select,
.flight-section select>div,
.flight-section .nice-select.open,
.flight-section .nice-select:focus {

    border-radius: 50rem;
    padding: 0 10px;
    border: 2px solid #E6E8EC;
    border-color: #E6E8EC;

}

.flight-search-button {
    padding: 20px;
}

/* FLIGHT SECTION ENDS*/

/* REVIEW SECTION STARTS*/
.review-section .section-heading {
    margin-bottom: 130px;
}

.travel-tips:nth-child(2) {
    margin: 40px 0;
}

.travel-tips:nth-child(3) {
    margin-bottom: 56px;
}

.travel-tips:nth-child(1) .rounded-pill {
    padding: 2px 12px;
    background: #8BC5E5;

}

.travel-tips:nth-child(2) .rounded-pill {
    padding: 2px 12px;
    background: #92A5EF;
}

.travel-tips:nth-child(3) .rounded-pill {
    padding: 2px 12px;
    background: #58C27D;
}

.travel-tips h4 {
    margin-bottom: 16px;
}

.review-img-slider .review-img {
    padding-right: 40px;
}

.rating-img {
    width: 48px !important;
    height: 48px;
}

.rating-star img {
    width: 12px !important;
    height: 12px;
}

.rating-star p {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #23262F;


}


.rating-box {
    z-index: 1;
    background: linear-gradient(83.59deg, #FCFCFD 36.52%, rgba(252, 252, 253, 0.83) 98.8%);
    box-shadow: 0px 40px 64px -32px rgba(15, 15, 15, 1);
    backdrop-filter: blur(16px);
    border-radius: 80px;
    padding: 16px 32px 16px 16px;
    gap: 16px;
}

.rating-box-1 {
    top: 270px;
    left: -40px;
}

.rating-box-2 {
    top: 340px;
    right: 0;
}

.rating-box-3 {
    top: 500px;
    left: -100px;
}

/* owl nav start */

.review-img-slider .owl-nav {
    position: absolute;
    top: 25px;
    right: 65px;
}

.review-img-slider .owl-nav button img {
    border: 2px solid #00000000;
    padding: 6px;
    border-radius: 50rem;
}

.owl-nav button img:hover {
    border: 2px solid #E6E8EC !important;
}

.owl-next {
    margin-left: 8px;

}

/* owl nav end */

/* REVIEW SECTION ENDS*/

/* TRAVEL DESTINATION SECTION STARTS*/
.travel-destination-section .section-heading {
    margin-bottom: 80px;
}

.travel-destinations .travia-btn {
    padding: 4px;
}

.travel-destinations .card>p {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 12px 6px;
    left: 16px;
    top: 16px;
    background: #23262F;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.1);
    border-radius: 32px;
    color: #FCFCFD;
}

.travel-destinations .card-img-top {
    border-radius: 24px;
}

.travel-destinations .card-body {
    padding-top: 20px !important;
}

.travel-destinations .card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.travel-destinations .card-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

}

/* OWL NAV STARTS */
.travel-destinations .owl-nav {
    position: absolute;
    top: -210px;
    right: 0;
}

.travel-destinations .owl-nav button img {
    border: 2px solid #00000000;
    padding: 10px 8px;
    border-radius: 50rem;
}

/* OWL NAV  ENDS*/
/* TRAVEL DESTINATION SECTION ENDS*/


/* WORKS SECTION STARTS*/

.work-section .section-heading {
    margin-bottom: 60px;
}

.work-section .col h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.work-section .col p {
    font-size: 14px;
    line-height: 24px;
}

.work-section .row {
    background-image: url(../images/dash-line.png);
    background-repeat: no-repeat;
    background-position: 220px 60px;
}

/* WORKS  SECTION ENDS*/

/* PRODUCT SECTION STARTS*/
.product-section .container {
    background: #F4F5F6;
    border-radius: 24px;
    padding: 80px;

}

.product-section .section-heading {
    margin-bottom: 65px;
}

.product-section .nav {
    margin-bottom: 60px;
}

.product-section .nav-link {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .show>.nav-link {
    color: #FCFCFD !important;
    background-color: #353945;
}

.nav-pills svg {
    margin-right: 8px;
}

.nav-pills .nav-link:hover svg path,
.nav-pills .nav-link.active svg path {
    fill: #FCFCFD;
}

.nav-pills .nav-link {
    padding: 6px 12px !important;
    border-radius: 50rem;
}

.product-tab>.row {
    --bs-gutter-x: 32px;
    --bs-gutter-y: 32px;
}

.product-section .card {
    border-radius: 16px;
}

.product-section .card-img-top {
    border-radius: 16px 16px 0 0;
}

.product-body {
    padding: 20px;
}

.product-title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.product-text {
    font-size: 12px;
    line-height: 20px;
    color: #353945;
}

.price-box {
    padding: 8px;
    border: 2px solid #58C27D;
    border-radius: 4px;
    width: fit-content;

}

.price-box p {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #B1B5C4;
    width: fit-content;
}

.price-box p:nth-child(2) {
    color: #58C27D;
    /* margin: 6px 0 0 0; */
}

.product-body .hr {
    background-color: #E6E8EC;
    height: 1px;
    margin: 16px 0;
}

.product-rating .date {
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.rating p {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #23262F;
}

.product-tab .btn {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #23262F;
    border: 2px solid #E6E8EC;
    border-radius: 50rem;
    margin-top: 80px;
}

/* PRODUCT SECTION ENDS*/

/* DOWNLOAD SECTION STARTS*/
.download-section h6 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 16px;
    color: #777E91;

}

.download-section h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
}

.download-section p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

.download-button .play-store {
    margin-right: 40px;
}

input::placeholder {
    color: #777E91 !important;
}

.email-btn {
    background: #3B71FE;
    padding: 5px;
    margin: 5px;
    height: 32px;
    width: 32px;
    transition: .3s;
    
}
.email-btn:hover{
    background: #0044ee;
}
.input-group{
    border: 2px solid #E6E8EC !important;
    border-radius: 50rem;
    margin-top: 40px;
}
.input-group,.email-btn{
    display: flex;
    align-items: center;
    border-radius: 50px;
    max-width: 300px;
}
.form-control {
    padding: 6px 0 6px 16px;
    margin: 4px;
}



/* DOWNLOAD SECTION ENDS*/








/* Footer STARTS */
footer {
    padding-top: 80px;
}

.footer-top h6 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #23262F;
    margin-bottom: 16px;
}

.footer-top .col.d-flex {
    gap: 32px;
}
footer .input-group{
    margin-top: 16px;
}

.footer-bottom p {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 20px;
    color: #23262F;

}

/* Footer ENDS */