* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: #FCFCFD;
}

/* COMMON STYLES STARTS*/
h1,
h2,
h3,
h4,
h5,
h6 {

    color: #23262F;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #777E91;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0%;
}

.section-heading h2 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 12px;
}

.section-heading p {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #777E91;
    width: fit-content;
}

a:hover {
    color: #58C27D;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.p-20px {
    padding: 20px;
}

.travia-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FCFCFD;
    background: #3B71FE;
    border-radius: 90px;
    padding: 16px 24px;
}

.travia-btn:hover {
    color: #FCFCFD;
    background: #1b5afa;
}


/* COMMON STYLES ENDS*/

/* NAV STARTS */
nav .container {
    padding-left: 80px;
    padding-right: 80px;
}

nav .nav-item {
    margin-right: 40px;
    font-size: 14px;
}

nav .nav-item+.nav-item {
    margin-right: 22px;
}

.nav-item span img {
    width: 14px;
    margin-right: 12px;
}

.nav-link {
    padding: 0 !important;
    color: #777E91;
    font-weight: 700;
}

.nav-link.active {
    color: #777E91 !important;
}

.nav-link:hover {
    color: #58C27D !important;
}

nav .notification-btn {
    padding: 8px 10px;
}

nav .notification-btn span {
    height: 12px;
    width: 12px;
    background: #58C27D;
}

/* NAV ENDS */


/* HERO SECTION STARTS */
.hero-section img {
    z-index: -1;
}

.hero-section {
    background: linear-gradient(92.61deg, rgba(236, 248, 252, 0.84) 13.1%, rgba(236, 248, 252, 0) 96.07%), url("../images/hero-bg.png");
    background-size: cover;
    height: 720px;
    background-repeat: no-repeat;
    margin-top: 90px;
}

.hero-section h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -0.02em;
    color: #23262F;
}

.hero-section p {
    font-size: 18px;
    line-height: 30px;
}

.hero-text {
    top: 115px;
    left: 80px;
}

/* HERO SECTION ENDS */

/* FLIGHT SECTION STARTS*/

.flight-booking {
    width: 100%;
    margin-top: -220px;
    padding: 40px;
    background: linear-gradient(83.59deg, #FCFCFD 36.52%, rgba(252, 252, 253, 0.83) 98.8%);
    /* Neutrals/8 */

    border: 1px solid #FCFCFD;
    /* glass/01 */

    box-shadow: 0px 40px 64px -32px rgba(15, 15, 15, 0.1);
    backdrop-filter: blur(16px);
}

/* Tabs */


ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0px;
    overflow: auto;
}

ul#tabs-nav li {
    float: left;
    margin-right: 20px;
    padding: 18px 0;
    cursor: pointer;
}

ul#tabs-nav li:hover,
ul#tabs-nav li.active {
    border-bottom: 1px solid #23262F;
}

ul#tabs-nav li.active a {
    color: #23262F;
}

#tabs-nav li a {
    text-decoration: none;
    color: #777E91;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

#tabs-content {
    border-top: 1px solid #E6E8EC;
    margin-top: -1px;
    padding-top: 30px;
}



.tab-content .btn {
    background: #fff;
    border: 2px solid #E6E8EC;
    border-radius: 50rem;
}

.tab-content .btn:hover {
    background: #E6E8EC;
}


.btn-outline-primary {
    --bs-btn-color: #23262F;
    --bs-btn-border-color: #E6E8EC;
    --bs-btn-hover-color: #23262F;
    --bs-btn-hover-bg: #E6E8EC;
    --bs-btn-active-color: #23262F;
    --bs-btn-active-bg: #E6E8EC;
    --bs-btn-active-border-color: #E6E8EC;

}

select,
.nice-select.open,
.nice-select:focus {

    border-radius: 50rem;
    padding: 0 10px;
    border: 2px solid #E6E8EC;
    border-color: #E6E8EC;

}

.nice-select.open,
.nice-select:focus {
    border-color: #E6E8EC !important;
}

select .list {
    margin-top: 20px !important;
}

/* FLIGHT SECTION ENDS*/

/* REVIEW SECTION STARTS*/
.review-section .section-heading {
    margin-bottom: 130px;
}

.travel-tips:nth-child(2) {
    margin: 40px 0;
}

.travel-tips:nth-child(3) {
    margin-bottom: 56px;
}

.travel-tips:nth-child(1) .rounded-pill {
    padding: 2px 12px;
    background: #8BC5E5;

}

.travel-tips:nth-child(2) .rounded-pill {
    padding: 2px 12px;
    background: #92A5EF;
}

.travel-tips:nth-child(3) .rounded-pill {
    padding: 2px 12px;
    background: #58C27D;
}

.travel-tips h4 {
    margin-bottom: 16px;
}

.review-img-slider .review-img {
    padding-right: 40px;
}

.rating-img {
    width: 48px !important;
    height: 48px;
}

.rating-star img {
    width: 12px !important;
    height: 12px;
}

.rating-star p {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #23262F;


}


.rating-box {
    z-index: 1;
    background: linear-gradient(83.59deg, #FCFCFD 36.52%, rgba(252, 252, 253, 0.83) 98.8%);
    box-shadow: 0px 40px 64px -32px rgba(15, 15, 15, 1);
    backdrop-filter: blur(16px);
    border-radius: 80px;
    padding: 16px 32px 16px 16px;
    gap: 16px;
}

.rating-box-1 {
    top: 270px;
    left: -40px;
}

.rating-box-2 {
    top: 340px;
    right: 0;
}

.rating-box-3 {
    top: 500px;
    left: -100px;
}

/* owl nav start */

.review-img-slider .owl-nav {
    position: absolute;
    top: 25px;
    right: 65px;
}

.review-img-slider .owl-nav button img {
    border: 2px solid #00000000;
    padding: 6px;
    border-radius: 50rem;
}

.owl-nav button img:hover {
    border: 2px solid #E6E8EC !important;
}

.owl-next {
    margin-left: 8px;

}

/* owl nav end */

/* REVIEW SECTION ENDS*/

/* TRAVEL DESTINATION SECTION STARTS*/
.travel-destination-section .section-heading {
    margin-bottom: 80px;
}

.travel-destinations .travia-btn {
    padding: 4px;
}

.travel-destinations .card>p {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 12px 6px;
    left: 16px;
    top: 16px;
    background: #23262F;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.1);
    border-radius: 32px;
    color: #FCFCFD;
}

.travel-destinations .card-img-top {
    border-radius: 24px;
}

.travel-destinations .card-body {
    padding-top: 20px !important;
}

.travel-destinations .card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.travel-destinations .card-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

}

/* OWL NAV STARTS */
.travel-destinations .owl-nav {
    position: absolute;
    top: -210px;
    right: 0;
}

.travel-destinations .owl-nav button img {
    border: 2px solid #00000000;
    padding: 10px 8px;
    border-radius: 50rem;
}

/* OWL NAV  ENDS*/
/* TRAVEL DESTINATION SECTION ENDS*/


/* WORKS SECTION STARTS*/

.work-section .section-heading {
    margin-bottom: 60px;
}

.work-section .col h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.work-section .col p {
    font-size: 14px;
    line-height: 24px;
}

.work-section .row {
    background-image: url(../images/dash-line.png);
    background-repeat: no-repeat;
    background-position: 220px 60px;
}

/* WORKS  SECTION ENDS*/

/* SERVICE SECTION STARTS*/
/* SERVICE SECTION ENDS*/

/* DOWNLOAD SECTION STARTS*/
.download-section h6 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 16px;
    color: #777E91;

}

.download-section h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
}

.download-section p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;

}

.download-button .play-store {
    margin-right: 40px;
}

form>div {
    border: 2px solid #E6E8EC;
    border-radius: 90px;
}

.download-section form>div {
    margin-top: 40px;
}

input::placeholder {
    color: #777E91 !important;
}

.email-btn {
    background: #1b5afa;
    padding: 4px 5px;
    margin: 6px;
    border-radius: 50px;
}

.download-section form input {
    padding: 0 60px 0 16px;
}

/* DOWNLOAD SECTION ENDS*/








/* Footer STARTS */
footer{
    padding-top: 80px;
}
.footer-top h6 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #23262F;
    margin-bottom: 16px;
}

.footer-top .col.d-flex {
    gap: 32px;
}

.footer-bottom p {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 20px;
    color: #23262F;

}

/* Footer ENDS */